// tablet and L screen
// - Mobile: 375px
// - Desktop: 1440px
// - Family: [Roboto](https://fonts.google.com/specimen/Roboto)
// - Weights: 400, 700
// font-family: 'Manrope', sans-serif;
// font-family: 'Roboto', sans-serif;

$primary-color: #ff6257;
$Dark-Grey: #242742;
$light-Grey: #36384e;
$Grey: #9294a0;
$White: #ffffff;
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.img-mobile {
  display: none;
}
#main {
  width: 100%;
  height: 100vh;
  background-color: $Dark-Grey;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 2rem;
}
.newsletter {
  width: 45%;
  height: 400px;
  border-radius: 20px;
  background-color: $White;
  display: flex;
  flex-direction: row-reverse;
  .newsletter-form {
    width: 50%;
    padding: 3rem 2.5rem;
    padding-right: 0px;
    .title {
      font-size: 34px;
      margin-bottom: 0.5rem;
      font-weight: 900;
    }
    .desc {
      font-size: 12px;
      line-height: 18px;
      margin: 0.5rem 0rem;
    }
    .list {
      margin: 1rem 0rem;
      .list-item {
        list-style: none;
        font-size: 12px;
        margin-top: 10px;
        .list-icon {
          width: 12px;
          height: 12px;
          margin-right: 3px;
        }
      }
    }
    form {
      .error-msg {
        color: $primary-color;
        font-size: 14px;
        display: none;
      }
      label {
        color: $Dark-Grey;
        font-size: 10px;
        font-weight: 700;
      }
      #email {
        margin-top: 5px;
        display: block;
        width: 100%;
        height: 40px;
        border-radius: 5px;
        border: 1px solid $Grey;
        padding: 0.5rem;
        outline: none;
        &:focus {
          border: 1px solid $light-Grey;
        }
      }
      .submit-btn {
        width: 100%;
        height: 40px;
        margin-top: 10px;
        background-color: $Dark-Grey;
        border: none;
        border-radius: 5px;
        color: $White;
        &:hover {
          cursor: pointer;
          background-color: $primary-color;
        }
      }
    }
  }
  .newsletter-img {
    width: 50%;
    height: 400px;
    padding-right: 0px;
    .img-desktop {
      width: 90%;
      height: 400px;
      padding: 1rem 0rem;
      overflow: hidden;
      float: right;
    }
  }
}
.success {
  display: flex;
  flex-direction: column;
  background-color: $White;
  width: 25%;
  padding: 2.5rem 2rem;
  border-radius: 25px;
  .icon {
    width: 50px;
    height: 50px;
    margin-bottom: 1.5rem;
  }
  .appreciation {
    font-size: 34px;
    margin-bottom: 1.2rem;
  }
  .coniform {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 1.2rem;
  }
  .success-btn {
    width: 100%;
    height: 40px;
    background-color: $Dark-Grey;
    color: $White;
    border: none;
    border-radius: 5px;
    &:hover {
      background-color: $primary-color;
      cursor: pointer;
    }
  }
}
.hidden {
  display: none;
}
.copyright {
  margin-top: 2rem;
  text-align: center;
  color: $White;
  font-size: 12px;
  a {
    color: $Grey;
  }
}
@media (min-width: 451px) and (max-width: 1439px) {
  .newsletter {
    width: 75%;
  }
  #succes-msg {
    width: 50%;
  }
}
